
body {
    background-image: url(http://practice-pixels.s3.amazonaws.com/texture-blue.jpg);
}
#container {
    background-color: white;
    width: 60%;
    margin: 50px auto 50px auto;
    border-radius: 1%;
}

.art {
    background-color: #EEEEEE;
    margin: 20px auto 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 1%;
}

img {
    display: block;
    margin: auto;
}

h1 {
    color: #D42A1D;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

.top-section {
    text-align: center;
    font-size: .95em;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

h2 a:link {
    color: black;
}

h2 a:visited {
    color: black;
}

h2 a:hover {
    color: gold;
}

h2 a:active {
    color: red;
}

h4,h3 {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

h4 {
    font-style: italic;
    font-size: .85em;
}

p a:link {
    color: red;
}

p a:visited {
    color: red;
}

p a:hover, p a:active {
    color: gold;
}
#end {
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;

}
